<li>
      <%= form_tag(chores_path) do %>
          <!-- new item -->
        <%= hidden_field_tag 'list_id', @list.id %>
        <%= text_field_tag 'chore', nil, placeholder: 'New Chore...' %>
        <%= collection_select :user, :user_id, @list.assign, :id, :name, {include_blank: true}  %>
        <%= submit_tag 'New Chore' %>
      <% end %>


    </li>

    <br>
    <div id="chores">
      <% @list.chores.each do |c| %>
      <li>
        <% if c.completed? %>
          <%= content_tag(:div, c.name, :class => "finished-item") %>
          Assigned to: <%= c.user.present? ? c.user.name : 'No One' %>
          <br><%= link_to 'Incomplete', "/chores/#{c.id}/incomplete", method: 'post' %>
        <% else %>
          <%= content_tag(:div, c.name, :class => "unfinished-item") %>
          Assigned to: <%= c.user.present? ? c.user.name : 'No One' %>
          <br><%= link_to 'Complete', "/chores/#{c.id}/complete", method: 'post' %>
        <% end %>


        <% if @list.user == current_user %>
          <br><%= link_to "Edit Item", edit_chore_path(c) %>
          <br><%= link_to "Delete Item", "/chores/#{c.id}", method: 'delete' %>
        <% end %>
      </li>
      <br>
      <% end %>
    </div>
