
<li>
        <!-- new item -->
      <%= form_tag(grocery_items_path) do %>
        <%= hidden_field_tag 'list_id', @list.id %>
        <%= text_field_tag 'item', nil, placeholder: 'New Item...' %> <%= submit_tag 'New Item' %>
      <% end %>
    </li>

    <% @list.grocery_items.each do |g| %>
      <br>
      <li>
        <% if g.bought %>
          <%= content_tag(:div, g.item, :id => "finished-item") %>
          <%= link_to 'Un-buy', "/grocery_items/#{g.id}/unbuy", method: 'post' %>
        <% else %>
          <%= content_tag(:div, g.item, :id => "unfinished-item") %>
          <%= link_to 'Buy', "/grocery_items/#{g.id}/buy", method: 'post' %>
        <% end %>

        <% if @list.user == current_user %>
          <br><%= link_to "Edit Item", edit_grocery_item_path(g) %>
          <br><%= link_to "Delete Item", "/grocery_items/#{g.id}", method: 'delete' %>
        <% end %>
      </li>
    <% end %>