<h1><%= @list.title %></h1>

<% if @list.user == current_user %>
  <%= link_to 'Edit List', edit_list_path(@list) %>
<% end %>

<ul>
  <li>
    <%= form_tag(grocery_items_path) do %>
      <%= hidden_field_tag 'list_id', @list.id %>
      <%= text_field_tag 'item', nil, placeholder: 'New Item...' %> <%= submit_tag 'New Item' %>
    <% end %>
  </li>

  <% @list.grocery_items.each do |g| %>
    <li>
      <% if g.bought %>
        <%= content_tag(:div, g.item, :id => "finished-item") %>
        <%= link_to 'Un-buy', "/grocery_items/#{g.id}/unbuy", method: 'post' %>
      <% else %>
        <%= content_tag(:div, g.item, :id => "unfinished-item") %>
        <%= link_to 'Buy', "/grocery_items/#{g.id}/buy", method: 'post' %>
      <% end %>
    </li>
  <% end %>
</ul>

