<h1><%= @list.title %></h1>

Created By: <%= @list.user.name %>
<br>
List Type: <%= @list.list_type.capitalize %>
<br><br>
<% if @list.user == current_user %>
    <!-- Edit functions only appear if current user owns this list -->
  <%= link_to 'Edit List', edit_list_path(@list) %>
  <%= link_to 'Delete Post', list_path(@list), method: :delete %>
<% end %>


<ul>
  <div id="list_items">
    <% if @list.shopping? %>
      <!-- show shopping list -->

      <%= render partial: 'shopping_list' %>

    <% elsif @list.chore? %>
      <!-- show chore list -->

      <%= render partial: 'chores_list' %>

    <% end %>
  </div>
</ul>


<script id="bought-item-template" type="text/x-handlebars-template">
  <div class="finished-item">
    {{item}}
  </div>
  <a href="#" class="statusChange" data-item=`{{item.id}}`>Un-Buy</a>
</script>

<script id="unbought-item-template" type="text/x-handlebars-template">
  <div class="unfinished-item">
    {{item}}
  </div>
  <a href="#" class="statusChange" data-item=`{{item.id}}`>Buy</a>
</script>
