<h1><%= @list.title %></h1>

Created By: <%= @list.user.name %>
<br>
List Type: <%= @list.list_type.capitalize %>
<br><br>
<% if @list.user == current_user %>
  <%= link_to 'Edit List', edit_list_path(@list) %>
  <%= link_to 'Delete Post', list_path(@list), method: :delete %>
<% end %>


<ul>
  <% if @list.shopping? %>

    <li>
      <%= form_tag(grocery_items_path) do %>
        <%= hidden_field_tag 'list_id', @list.id %>
        <%= text_field_tag 'item', nil, placeholder: 'New Item...' %> <%= submit_tag 'New Item' %>
      <% end %>
    </li>

    <% @list.grocery_items.each do |g| %>
      <br>
      <li>
        <% if g.bought %>
          <%= content_tag(:div, g.item, :id => "finished-item") %>
          <%= link_to 'Un-buy', "/grocery_items/#{g.id}/unbuy", method: 'post' %>
        <% else %>
          <%= content_tag(:div, g.item, :id => "unfinished-item") %>
          <%= link_to 'Buy', "/grocery_items/#{g.id}/buy", method: 'post' %>
        <% end %>
        <br><%= link_to "Delete Item", "/grocery_items/#{g.id}", method: 'delete' %>
      </li>
    <% end %>

  <% elsif @list.chore? %>


    <li>
      <%= form_tag(chores_path) do %>
        <%= hidden_field_tag 'list_id', @list.id %>
        <%= text_field_tag 'chore', nil, placeholder: 'New Chore...' %>
        <%= collection_select :user, :user_id, @list.assign, :id, :name  %>
        <%= submit_tag 'New Chore' %>
      <% end %>
    </li>

    <br>
    <% @list.chores.each do |c| %>
    <li>
      <% if c.completed? %>
        <%= content_tag(:div, c.name, :id => "finished-item") %>
        Assigned to: <%= c.user.name %>
        <br><%= link_to 'Incomplete', "/chores/#{c.id}/incomplete", method: 'post' %>
      <% else %>
        <%= content_tag(:div, c.name, :id => "unfinished-item") %>
        Assigned to: <%= c.user.name %>
        <br><%= link_to 'Complete', "/chores/#{c.id}/complete", method: 'post' %>
      <% end %>
      <br><%= link_to "Delete Item", "/chores/#{c.id}", method: 'delete' %>
    </li>
    <% end %>

  <% end %>
</ul>

