<div id='list'>
  <h1><%= @list.title %></h1>

  Created By: <%= @list.user.name %>
  <br>
  List Type: <%= @list.list_type.capitalize %>
  <br><br>
  <% if @list.user == current_user %>
      <!-- Edit functions only appear if current user owns this list -->
    <%= link_to 'Edit List', edit_list_path(@list) %>
    <%= link_to 'Delete List', list_path(@list), method: :delete %>
    <button id="next_list" data-item="<%= @list.id %>">Next List</button>
  <% end %>


  <ul>
    <div id="list_items">
      <% if @list.shopping? %>
        <!-- show shopping list -->

        <%= render partial: 'shopping_list' %>

      <% elsif @list.chore? %>
        <!-- show chore list -->

        <%= render partial: 'chores_list' %>

      <% end %>
    </div>
  </ul>
</div>
<script id="grocery-item-template" type="text/x-handlebars-template">
  <br>
  <div class="item">
    <li>
      <div class="buy_options">
        <div class="unfinished-item">
          {{item}}
        </div>
        <button class="statusChange" data-item="{{id}}">Buy</button>
      </div>
      <% if @list.user == current_user %>
        <div class="owner_options">
          <br><a href="/grocery_items/{{id}}/edit">Edit Item</a>
          <br><a href="/grocery_items/{{id}}" data-confirm="Are you sure?" data-method="delete">Delete Item</a>
        </div>
      <% end %>
    </li>
  </div>
</script>


<script id="grocery-list-template" type="text/x-handlebars-template">
  <h1>{{title}}</h1>
  <p>
    Create By: {{user.name}}
    List Type: {{list_type}}
  </p>
  <% if @list.user == current_user %>
    <a href="/lists/{{id}}/edit">Edit List</a>
    <a href="/lists/{{id}}" data-confirm="Are you sure?" data-method="delete">Delete List</a>
    <button id="next_list" data-item="{{id}}">Next List</button>
  <% end %>

  <ul>
    <div id="list_items">
      <form id="new_grocery_item" action="/grocery_items" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="{{authenticity_token}}">
        <input type="text" id="item" placeholder="New Item...">
        <input type="hidden" name="list_id" id="list_id" value="{{id}}">
        <input type="submit" value="New Item">
      </form>
      {{#each grocery_items}}
        <!-- call the partial -->
        {{> listItem}}
      {{/each}}
    </div>
  </ul>
</script>

<script id="chore-list-template" type="text/x-handlebars-template">
  <h1>{{title}}</h1>
  <p>
    Create By: {{user.name}}
    List Type: {{list_type}}
  </p>
  <% if @list.user == current_user %>
    <a href="/lists/{{id}}/edit">Edit List</a>
    <a href="/lists/{{id}}" data-confirm="Are you sure?" data-method="delete">Delete List</a>
    <button id="next_list" data-item="{{id}}">Next List</button>
  <% end %>

  <ul>
    <div id="list_items">
      <form id="new_chores" action="/chores" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="{{authenticity_token}}">
        <input type="text" id="chore" placeholder="New Chore...">
        <input type="hidden" name="list_id" id="list_id" value="{{id}}">
        <input type="submit" value="New Chore">
      </form>

      <%= form_tag(chores_path) do %>
          <!-- new item -->
        <%= hidden_field_tag 'list_id', @list.id %>
        <%= text_field_tag 'chore', nil, placeholder: 'New Chore...' %>
        <%= collection_select :user, :user_id, @list.assign, :id, :name, {include_blank: true}  %>
        <%= submit_tag 'New Chore' %>
      <% end %>
      {{#each chores}}
        <!-- call the partial -->
        {{> choreListItem}}
      {{/each}}
    </div>
  </ul>
</script>
