<div id='list'>
  <h1><%= @list.title %></h1>

  Created By: <%= @list.user.name %>
  <br>
  List Type: <%= @list.list_type.capitalize %>
  <br><br>
  <% if @list.user == current_user %>
      <!-- Edit functions only appear if current user owns this list -->
    <%= link_to 'Edit List', edit_list_path(@list) %>
    <%= link_to 'Delete List', list_path(@list), method: :delete %>
    <button id="next_list" data-item="<%= @list.id %>">View Next List</button>
  <% end %>


  <ul>
    <div id="list_items">
      <% if @list.shopping? %>
        <!-- show shopping list -->

        <%= render partial: 'shopping_list' %>

      <% elsif @list.chore? %>
        <!-- show chore list -->

        <%= render partial: 'chores_list' %>

      <% end %>
    </div>
  </ul>
</div>

<script id="new-grocery-item-template" type="text/x-handlebars-template">
  <br>
  <div class="item">
    <li>
      <div class="buy_options">
        <div class="unfinished-item">
          {{item}}
        </div>
        <button class="statusChange" data-item="{{id}}">Buy</button>
      </div>
      <% if @list.user == current_user %>
        <div class="owner_options">
          <br><a href="/grocery_items/{{id}}/edit">Edit Item</a>
          <br><a href="/grocery_items/{{id}}" data-confirm="Are you sure?" data-method="delete">Delete Item</a>
        </div>
      <% end %>
    </li>
  </div>
</script>

<script id="grocery-item-template" type="text/x-handlebars-template">
  <br>
  <div class="item">
    <li>
      <div class="buy_options">
        {{#if bought}}
        <div class="finished-item">
          {{item}}
        </div>
        {{else}}
        <div class="unfinished-item">
          {{item}}
        </div>
        {{/if}}
      </div>
    </li>
  </div>
</script>


<script id="grocery-list-template" type="text/x-handlebars-template">
  <div id="list"
    <h1>{{title}}</h1>
    <p>
      Create By: {{user.name}}
      List Type: {{list_type}}
    </p>
    <!-- <% if @list.user == current_user %> -->
      <!-- <a href="/lists/{{id}}/edit">Edit List</a>
      <a href="/lists/{{id}}" data-confirm="Are you sure?" data-method="delete">Delete List</a> -->
      <button id="next_list" data-item="{{id}}">Next List</button>
    <!-- <% end %> -->

    <ul>
      <div id="list_items">
        <!-- <form id="new_grocery_item" action="/grocery_items" accept-charset="UTF-8" method="post">
          <input type="hidden" name="authenticity_token" value="{{authenticity_token}}">
          <input type="text" id="item" placeholder="New Item...">
          <input type="hidden" name="list_id" id="list_id" value="{{id}}">
          <input type="submit" value="New Item">
        </form> -->
        {{#each grocery_items}}
          <!-- call the partial -->
          {{> listItem}}
        {{/each}}
      </div>
    </ul>
  </div>
</script>

<script id="chore-list-template" type="text/x-handlebars-template">
  <div id="list"
    <h1>{{title}}</h1>
    <p>
      Create By: {{user.name}}
      List Type: {{list_type}}
    </p>
    <button id="next_list" data-item="{{id}}">Next List</button>

    <ul>
      <div id="list_items">
        {{#each chores}}
          <!-- call the partial -->
          {{> listItem}}
        {{/each}}
      </div>
    </ul>
  </div>
</script>

<script id="chore-item-template" type="text/x-handlebars-template">
  <br>
  <div class="item">
    <li>
      <div class="buy_options">
        {{#if completed}}
        <div class="finished-item">
          {{name}}
        </div>
        {{else}}
        <div class="unfinished-item">
          {{name}}
        </div>
        {{/if}}
      </div>
    </li>
  </div>
</script>
