<%= form_for @list do |l| %>
  <%= l.label :title %>
  <%= l.text_field :title %>
  <br></br>
  
  <% if params[:action] != "edit" %>
    <%= l.label :list_type %>
    <%= l.collection_select :list_type, List.list_types, :first, :first %>
    <br></br>
    <p>OPTIONAL --- Enter a chore or item</p>
    <%= form_for :chores do |c| %>
      <%= c.label :chore_name %>
      <%= c.text_field :name %>
    <% end %>
    <p>---OR---</p>
    <%= form_for :grocery_items do |c| %>
      <%= c.label :grocery_name %>
      <%= c.text_field :item %>
    <% end %>
    <br></br>
  <% end %>
  
  <%= l.submit %>

  <br></br>
    Viewable to: <%= l.collection_check_boxes :viewer_ids, current_user.actual_roommates, :id, :name %>
  <br>
<% end %>