<%= form_for @list do |l| %>
  <%= l.label :title %>
  <%= l.text_field :title %>
  <br></br>
  
  <% if params[:action] != "edit" %>
    <%= l.label :list_type %>
    <%= l.collection_select :list_type, List.list_types, :first, :first %>
    <br></br>

    <p>OPTIONAL --- Enter a chore or item</p>


    <%= l.fields_for :grocery_items do |grocery_items_form| %>
      <%= grocery_items_form.label :grocery_name %>
      <%= grocery_items_form.text_field :item %>
    <% end %>

    <p>---OR---</p>
    
    <%= l.fields_for :chores do |chores_form| %>
      <%= chores_form.label :chore_name %>
      <%= chores_form.text_field :name %>
    <% end %>
    <br></br>

  <% end %>
  
  <%= l.submit %>

  <br></br>
    Viewable to: <%= l.collection_check_boxes :viewer_ids, current_user.actual_roommates, :id, :name %>
  <br>
<% end %>