<!DOCTYPE html>
<html>
<head>
  <title>RoommateAssistant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<%= render 'layouts/messages' %>

<%= yield %>

</body>

<footer>
  <sub>William Mena <%= link_to 'Github','https://github.com/WilliamMena' %></sub>
</footer>
</html>


<script id="new-grocery-item-template" type="text/x-handlebars-template">
  <br>
  <div class="item">
    <li>
      <div class="buy_options">
        <div class="unfinished-item">
          {{item}}
        </div>
        <button class="statusChange" data-item="{{id}}">Buy</button>
      </div>
      <% if @list && @list.user == current_user %>
        <div class="owner_options">
          <br><a href="/grocery_items/{{id}}/edit">Edit Item</a>
          <br><a href="/grocery_items/{{id}}" data-confirm="Are you sure?" data-method="delete">Delete Item</a>
        </div>
      <% end %>
    </li>
  </div>
</script>

<script id="grocery-item-template" type="text/x-handlebars-template">
  <br>
  <div class="item">
    <li>
      <div class="buy_options">
        {{#if bought}}
        <div class="finished-item">
          {{item}}
        </div>
        {{else}}
        <div class="unfinished-item">
          {{item}}
        </div>
        {{/if}}
      </div>
    </li>
  </div>
</script>


<script id="grocery-list-template" type="text/x-handlebars-template">
  <div id="list"
    <h1></h1>
    <h1>{{title}}</h1>
    <p>
      Create By: {{user.name}}
      List Type: {{list_type}}
      <br>
      <sub><a href="/users/{{user.id}}/lists/{{id}}">For full functionality, click here.</a></sub>
    </p>
      <button id="next_list" data-item="{{id}}">Next List</button>

    <ul>
      <div id="list_items">
        {{#each grocery_items}}
          <!-- call the partial -->
          {{> listItem}}
        {{/each}}
      </div>
    </ul>
  </div>
</script>

<script id="chore-list-template" type="text/x-handlebars-template">
  <div id="list"
    <h1></h1>
    <h1>{{title}}</h1>
    <p>
      Create By: {{user.name}}
      List Type: {{list_type}}
      <br>
      <sub><a href="/users/{{user.id}}/lists/{{id}}">For full functionality, click here.</a></sub>
    </p>
    <button id="next_list" data-item="{{id}}">Next List</button>

    <ul>
      <div id="list_items">
        {{#each chores}}
          <!-- call the partial -->
          {{> listItem}}
        {{/each}}
      </div>
    </ul>
  </div>
</script>

<script id="chore-item-template" type="text/x-handlebars-template">
  <br>
  <div class="item">
    <li>
      <div class="buy_options">
        {{#if completed}}
        <div class="finished-item">
          {{name}}
        </div>
        {{else}}
        <div class="unfinished-item">
          {{name}}
        </div>
        {{/if}}
      </div>
    </li>
  </div>
</script>
