<!DOCTYPE html>
<html>
<head>
  <title>RoommateAssistant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<%= render 'layouts/messages' %>

<%= yield %>

</body>

<footer>
  <sub>William Mena <%= link_to 'Github','https://github.com/WilliamMena' %></sub>
</footer>
</html>
